/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
@import '~swiper/scss';
@import '~swiper/scss/autoplay';
@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
@import '~swiper/scss/scrollbar';
@import '~swiper/scss/zoom';
@import '~@ionic/angular/css/ionic-swiper';

ion-content {
    // --padding-bottom: 50px;
    --padding-end: 5%;
    --padding-start: 5%;
    --padding-top: 5%;
}

.swiper-pagination {
    bottom: 14em !important;
}



// Tab titles
h1 {
    // font-family: 'Open Sans', 'serif' !important;
    font-size: 34pt;
    font-weight: 600;
    color: var(--ion-color-primary);
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 17pt;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-top: 1.3em
}

h3 {
    font-size: 14pt;
    font-weight: 600;
    color: var(--ion-color-primary);
}

p {
    font-size: 12pt;
    font-weight: 400;
    color: var(--ion-color-primary);
}

.center-text {
    text-align: center;
}


.item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color) {
    color: var(--ion-color-secondary);
}

ion-label {
    font-size: 12pt;
    font-weight: 400;
    color: var(--ion-color-primary);
}

ion-tab-bar {
    // --color: whitesmoke;
    --background: var(--ion-color-background);
}

ion-card {
    // customize the shadow, see https://www.cssmatic.com/box-shadow
    -webkit-box-shadow: 16px 12px 17px -21px rgba(97, 97, 97, 1);
    -moz-box-shadow: 16px 12px 17px -21px rgba(97, 97, 97, 1);
    box-shadow: 16px 12px 17px -21px rgba(97, 97, 97, 1);
    border-radius: 20px 20px 20px 20px;

}

ion-card-header {
    background: var(--ion-color-cards-bg-dark);
    color: white;
    padding-bottom: 0;
}

ion-card-content {
    color: var(--ion-color-primary);
    padding-bottom: 0;
}


// TBD
// ion-button {
//     font-size: 14pt;
//     font-weight: 600;
//     color: var(--ion-color-primary);
//     background-color: white;
// }

ion-button {
    --background: var(--ion-color-secondary);
    // Background of the button on hover
    --background-hover: var(--ion-color-secondary-shade);
    // Background of the button when pressed
    --background-activated: var(--ion-color-secondary-tint);
    // Background of the button when focused with the tab key
    --background-focused: var(--ion-color-secondary-shade);
    --color: var(--ion-color-white);
    width: 100%;

    // --ripple-color: rgb(5, 239, 40);

}

.outline {
    --background: var(--ion-color-white);
    // Background of the button on hover
    --background-hover: var(--ion-color-white);
    // Background of the button when pressed
    --background-activated: var(--ion-color-white);
    // Background of the button when focused with the tab key
    --background-focused: var(--ion-color-white);
    --color: var(--ion-color-secondary);
    --border-color: var(--ion-color-secondary);
    --border-style: solid;
    --border-width: 1px;
}



.bottom-sheet {
    align-items: flex-end;
    // for iphone X + status bar
    padding-bottom: env(safe-area-inset-bottom);
}

ion-modal {
    --border-radius: 20px 20px 0px 0px;
    --height: auto;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 85vh;
            overflow: auto;

        }

        .modalWithPadding {
            padding-bottom: 5%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 5%;
        }

        .modalWithOnlySideAndBottomPadding {
            padding-bottom: 5%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}



ion-toast {
    --background: whitesmoke;
    --color: var(--ion-color-primary);
}

.swiper-pagination-bullet {
    background: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 0.9;
    background: var(--ion-color-primary);
}

.introjs-helperNumberLayer {
    left: 12px !important;
}

.customTooltip * {
    color: var(--ion-color-purple);
    font-family: 'Raleway', ‘sans-serif’ !important;
    border: none !important;

    .introjs-tooltip-title {
        font-size: 1.5em;
    }

    .introjs-skipbutton {
        display: none;
    }

    .introjs-prevbutton {
        display: none;
    }

    .introjs-tooltipbuttons {
        // color: red;
        border: none !important;
    }

    .introjs-button {
        color: white !important;
        background-color: var(--ion-color-primary) !important;
        border: none !important;
        text-shadow: none !important;
        font-size: 1em !important;
    }
}